<div *ngIf="afterLoginshow">
<div class="card mb-3" style="width: 650px; height: 400px;" >
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title" style="padding-left: 10px;">Login</h4>
          <div *ngIf="show">
          <div class="medium-list">
              <div class="list-viewer-wrapper">
                  <form #loginForm="ngForm" (ngSubmit)="loginUser()">
                      <small class="text-danger">{{errorMsg}}</small>
                      <div class="form-group">
                        <label for="email">Username:</label>
                        <input type="email" class="form-control" placeholder="Enter username" name="username" [(ngModel)]= "user.username">
                      </div>
                      <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]= "user.password">
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" name="remember"> Remember me</label>
                      </div>
                      <button type="submit" class="btn btn-info" class="btn btn-primary btn-lg">Login</button>
                      <div class="divider_buttons"></div>
                      <button type="submit" class="btn btn-info" class="btn btn-primary btn-lg" (click)="openModal()">Register</button>
                    </form>
              </div>
          </div>
          </div>
          </div>
      </div>
    </div>
</div>
</div>
<router-outlet></router-outlet>