<div class="medium-list">
    <div class="list-viewer-wrapper">
        <form [formGroup]="loginForm">
            <div class="form-container">
                <mat-form-field class="assistiveText">
                    <input id="username"
                    matInput
                    formControlName="username"
                    placeholder="Enter your username"/>
                </mat-form-field>
                <mat-form-field class="assistiveText">
                    <input id="password"
                    matInput
                    formControlName="password"
                    placeholder="Enter your password"/>
                </mat-form-field>
                <div class="divider"></div>
                <button mat-button type="submit" class="loginBtn">Login</button>
                <div class="divider_buttons"></div>
                <button mat-button type="submit" class="registerBtn" class="registerBtn" (click)="openModal()">Register</button>
            </div>
        </form>
    </div>
</div>