<div class="card">
  <div class="card-body">
    <h3 class="card-title">Books Table</h3>
    <button class="btn btn-success" (click)="addBook()">Add Book</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Book id</th>
          <th scope="col">Book Name</th>
          <th scope="col">Book count</th>
          <th scope="col">Book ImageURL</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tempBook of books">
          <td>{{tempBook.bookId}}</td>>
          <td>{{tempBook.bookName}}</td>
          <td>{{tempBook.count}}</td>
          <td>{{tempBook.imageURL}}</td>
          <td><button class="btn btn-success" (click)="updateBook(tempBook.bookId)"> Update</button></td>
          <td><button class="btn btn-success" (click)="deleteBook(tempBook.bookId)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>    