<div class="medium-list">
  <h4>Regsiter</h4>
    <div class="list-viewer-wrapper">
        <form #loginForm="ngForm" (ngSubmit)="registerUser()">
            <small class="danger">{{errorMsg}}</small>
            <div class="form-group">
              <label for="email">Username:</label>
              <input type="email" class="form-control" placeholder="Enter username" name="username" [(ngModel)]= "user.username">
            </div>
            <div class="form-group">
                <label for="email">Role:</label>
                <input type="email" class="form-control" placeholder="Enter Role" name="role" [(ngModel)]= "user.role">
              </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]= "user.password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="remember"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-info" class="registerBtn">Register</button>
          </form>
    </div>
</div>